version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tinyurl
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_py:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data_py:/data

  backend:
    build: ./backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_SERVER=postgres
      - POSTGRES_DB=tinyurl
      - REDIS_URL=redis://redis:6379
      - BASE_URL=http://localhost:8000
    depends_on:
      - postgres
      - redis
    volumes:
      - ./backend:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  postgres_data_py:
  redis_data_py:
